:root {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    --left-color: rgb(255, 0, 64);
    --right-color:  rgb(255, 255, 163);
    font-style: bold;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    height: 100vh;
    display: flex;
    overflow: hidden;
}

.sides {
    display: flex;
}

.texts {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    background-color: aliceblue;
}

.left {
    width: 50vw;
    background-color: var(--left-color);
    border-right: 1px solid black;
}

.right {
    width: 50vw;
    background-color: var(--right-color);
}

.text-slide {
    display: inline-block;
    font-size: 25vh;
    font-weight: 900;
    animation: moveText 5s linear infinite;
}


@keyframes moveText {
    0% {
        transform: translateX(100%);
        color: black;
    }

    50% {
        transform: translateX(0);
        color: red;
    }

    100% {
        transform: translateX(-100%);
        color: black;
    }
}
