:root {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    background-color: black;
    overflow: hidden;
}

* {
    padding: 0;
    margin: 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
    color: aliceblue;
    gap: 5vw;
}

a {
    text-decoration: none;
    font-size: 0.9rem;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 20%;
    width: 100px;
    height: 10vh;
    background-color: rgb(76, 0, 39);
    border: rgb(255, 255, 255) 1px solid;
}