:root {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    background-color: black;
}

* {
    padding: 0;
    margin: 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
    color: aliceblue;
    gap: 10px;
}

main > * {
        flex: 1;
}

a {
    width: 100px;
    text-decoration: none;
    font-size: 0.9rem;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    background-color: rgb(76, 0, 39);
}